@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-2");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

#container-primero {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(https://images.unsplash.com/photo-1611988615248-5d4f0b9ac31e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 60px;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 0;
  align-items: center;
}

#imagen {
  width: 90px;
  height: 90px;
  padding-right: 20px;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  
}

a#nombre{
  color: aliceblue;
  font-weight: 800;

}

#nombre{
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}

#botones{
  margin-right: 30px;
}


a#inicio{
  color: #2e518b;
}

.btn-1  {
  cursor: pointer;
  margin-left: 10px;
  height: max-content;
  border: 1px solid white; 
  padding: 10px;
  color: white;
  letter-spacing: 2px;
  background-color: white; 
  font-family: "Helvetica", sans-serif;
  border-radius: 50px;
}

a#registro{
  color: white;
}

.btn-2 {
  cursor: pointer;
  margin-left: 10px;
  height: max-content;
  border: 1px solid #2e518b; 
  padding: 10px;
  background-color: #2e518b; 
  color: white;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  border-radius: 50px;
}

#miTextoAnimado {
  margin-top: 1rem;
  font-size: 4rem;
  font-family: 'Righteous', cursive;
  background-color: none;
  height: 100px;
  width: 400px;
  margin-left: 50rem;
  display: flex;
  color: white;
}

button:hover{
  background: cadetblue;
  cursor: pointer;
  border: 1px solid cadetblue;
}

@media(max-width:768px){
  button{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px;

    

  }
h1{
  margin: 0px 0px 0px 300px ;
  display: flex;
  font-size: 50px;
}

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}